<head>
     <link rel="stylesheet" href="app/assets/stylesheets/index.css">
     <link rel="stylesheet" href="app/assets/stylesheets/header.css">
     <link rel="stylesheet" href="app/assets/stylesheets/footer.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="header-left">
                <a href="/">
                <h1>primefinder.io</h1>
                </a>
            </div>
            <div class="header-right">
                <a href="/">
                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/2a5bd0118280215.60866dc82c3de.png">
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="content">
                <div class="content-title">
                    <h1>Primefinder</h1>
                    <h2>csv 파일을 업로드하여 소수를 찾아보세요</h2>
                </div>
                <div class="content-input">
                    <label for="fileInput">업로드</label>
                    <input type="file" name="file" id="fileInput"/>

                    <button id="fileSave">저장</button>
                </div>
                <div class="content-prime">
                    <p id="primeContainer"></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <p> © 2021 Designed by .<a href="#" class="link" style="color: white; text-decoration: none;">junyoungJang</a> All rights reserved.</p>
        </div>
    </footer>
</body>
<script>
    const uploadFile = document.getElementById('fileInput');
    const saveFile   = document.getElementById('fileSave');
    const csrf       = document.querySelector("meta[name='csrf-token']").getAttribute("content");
    const primes     = []
    uploadFile.addEventListener('change', async (e) => {
        e.preventDefault;

        const file = document.getElementById('fileInput');
        const res  = await send_file_to_server(file.files[0]);
        i

        const primeContainer     = document.getElementById('primeContainer');
        primeContainer.innerHTML = res.toString().replace(/,/g, ', ')
    })

    saveFile.addEventListener('click', async (e) => {
        e.preventDefault();

        const primes = document.getElementById('primeContainer').innerHTML.split(", ");
        const res    = await download_file_from_server(primes);
    })

    const send_file_to_server = async (input)=>{
        const data = new FormData();
        data.append('file', input);

        const res = await fetch('/file', {
            method : 'POST',
            headers: {
                'X-CSRF-TOKEN': csrf
            },
            body: data
        });
        const response = await res.json();

        if (res.status == 200 || res.status == 201) return response['data']

        return undefined
    }

    const download_file_from_server = async (primes) =>{
        console.log(typeof primes); 
        console.log(primes);
        const res = await fetch('/file/csv', {
            method: 'POST',
            headers: {
                'Content-Type' : 'application/json;charset=utf-8',
                'X-CSRF-TOKEN' : csrf
            },
            body: JSON.stringify({primes:primes})
        });
        const response = await res;
        console.log(res);

        if (res.status == 200 || res.status == 201) return response

        return undefined
    }
</script>