body {
    height: 100vh;
    margin: 0 auto;
}

main {
    padding-top: 90px 
}

main .container {
    position: relative;
    height: 100%;
}

.content {
    text-align: center;
    margin: 0 auto;
}

.content-title {
    margin-top: 80px;
    margin-bottom: 30px;
}

.content-title h1{
    font-size: 80px;
    color: #89d1da;
}

.content-title h2{
    font-size: 30px;
    font-weight: 500;
}

.content-input {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.content-input label {
    display: inline-block;
    padding: .5em .75em;
    width: 100px;
    color: white; 
    font-size:inherit; 
    line-height: normal;
    vertical-align: middle;
    background-color: #b0e6d1;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.content-input input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px; 
    padding: 0; 
    margin: -1px; 
    overflow: hidden; 
    clip:rect(0,0,0,0); 
    border: 0;
}

.content-input button {
    display: inline-block;
    padding: .5em .75em;
    width: 100px;
    color: white; 
    font-size:inherit; 
    line-height: normal;
    vertical-align: middle;
    background-color: #b0c5e6;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.content-prime {
    border: 4px solid #89d1da;
    border-radius: 10px;
    margin: 30px 30px 80px 30px;
}

#primeContainer {
    display: inline-block;
    height: 400px;
    overflow: auto;
}
